.button {
  padding: 16px 40px 16px 40px;
  border-radius: 32px;
  border-style: none;
  font-weight: 700;
  color: white;
  background-color: #e4c1ae;
}

.resetButton {
  display: none;
  padding: 10px 20px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: teal;
  color: white;
  border: 2px solid teal;
  border-radius: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}

.resetButton:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.js-visible {
  display: block;
}
