html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

main {
  margin: 96px auto 0 auto;
  max-width: 1440px;
  height: auto;
  display: flex;
  justify-content: center;
}
.dark {
  display: none;
  background-color: #121212;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.js-visible {
  display: block;
}
